/* CSS GENERALE */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.general-padding{
  padding: 0 20%;
}

.more-padding {
  padding: 0 10%;
}


a{
  text-decoration: none;
}

h3 {
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

h4 {
  padding-bottom: 20px;
  font-size: 18px;
}

p {
padding-bottom: 30px;
font-size: 18px;
font-weight: 400;
line-height: 29px;

}
h2{
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 15px;
}

.small {
  font-size: 80%;
  line-height: 21px;
}

/* CSS BUTTON */
.button {
  background-color: #ff7a59;
  color: #fff;
  padding: 15px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  transition: all 0.5s;
}

.button:hover{
  background-color: rgba(255, 122, 89,0.5);

}

#login{
background-color: #fff ;
color: #ff7a59;
border: solid 1px #ff7a59;
padding: 15px 20px;
border-radius: 5px;
font-size: 14px;
font-weight: 500;
margin-left: 20px;
transition: all 0.5s;
}

#login:hover {
  background-color: rgba(255, 122, 89,0.1);
}

/* CSS GRIGLIA */
.subsection-3cards::after, #columns-footer .row:last-child::after, .sub-section::after, #customers-section .row::after, #credits-footer::after, .subsection-crm::after, .numbers-row::after  {
  content: "";
  display: table;
  clear: both;
}

.column30 {
  float: left;
  width: 30%;
  background-color: #fff;
  text-align: center;
}

.column25{
  float: left;
  width: 25%;
}

.column40{
  float: left;
  width: 40%;
  padding-top: 30px;
}

.column60{
  float: left;
  width: 60%;
  text-align: center;
  padding-top: 30px;
}

.column70{
  float: left;
  width: 70%;
  padding-top: 30px;
}

.center5{
  margin: 0 5%;
}


/* CSS HEADER */
  /* CSS NAVBAR */
  nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
  }

  nav a {
    text-decoration: none;
    padding: 20px 0px;
    color: #33475b;
  }

  nav ul{
      list-style-type: none;
      overflow: hidden;
    }

    nav li {
      float: left;
      padding-right: 35px;
    }

    .nav-left {
      float: left;
    }

  .nav-right {
    float: right;
    }

  .fa-search {
    color: #00a4bd;
  }

  #nav-fixed {
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    z-index: 99;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #33475b;
  }

  #main-nav {
    margin-top: 80px;
    font-size: 18px;
    font-weight: 600;
  }

  #main-nav img {
    padding-top: 25px;
  }

  /* CSS JUMBO */
  .jumbo {

    position: relative;
    height: 700px;
    background-image: url("../img/jumbotron.png");
    background-color: #fff1ee;
    background-position: 100% 248%;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #33475b;
  }
  .jumbo-content {
    width: 35%;
    padding-top: 60px;
  }
  .jumbo-content h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .jumbo-content p {
    margin-top: 20px;
    margin-bottom: 20px;

  }
  .jumbo-content .button {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-left: 0;
    line-height: 29px;
    text-decoration: none;
    padding: 21px 34px;
  }
  .green-line{
    background-color: #afebe4;
    height: 80px;
    border-top: solid 3px #33475b;
    border-bottom: solid 3px #33475b;
  }
/* CSS MAIN */

  /* CSS CARD SECTION */
  #cards-section {
    background-color: #f4f9fd;
    color: #33475b;
  }
  .subsection-cube {
    text-align: center;
    padding-top: 30px;
  }

  #cubo {
    width: 25%;
  }

  .subsection-crm {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(0,0,0,0.2) ;
    border-radius: 5px;
    padding-right: 35px;
  }

  .subsection-3cards {
    padding-bottom: 30px;
  }

  .card-container {
    padding: 10% 15%;
  }

  .subsection-3cards .card-container {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .card-container img{
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
  }

  .card-container .button{
    display: block;
    width: 150px;
    margin: 0 auto;
  }
  .card-container p, .column70 p{
    border-bottom: 1px solid #33475b;
  }

  .card-container ul, .column70 ul {
    padding-bottom: 20px;
    list-style-image: url("../img/pallino-arancio.png");
    list-style-position: inside;
    text-align: justify;
  }
  .column70 li{
    float: left;
    padding-right: 20px;

  }

  /* CSS NUMBERS */
  #numbers-section {
    background: rgb(0,167,186);
    background: linear-gradient(45deg, rgba(0,167,186,1) 35%, rgba(0,188,166,1) 100%);
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #numbers-section h2 {
    font-size: 32px;
  }

  .clm25-wrapper{
  padding: 30px;
  }
  .subsection-numbers-grid p{
    padding-bottom: 0;
  }
  .numbers-row:first-of-type {
    border-bottom: solid 1px #fff;
  }
  .brd-white-right {
    border-right: solid 1px #fff;
  }

  /* CSS CUSTOMER SECTION */
  #customers-section{
    color:  #33475b;
  }

  #customers-section p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #customers-section .button {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-left: 0;
    padding: 21px 34px;
    margin-bottom: 30px;
  }

  #customer-grid .clm25-wrapper {
    padding: 20px;
  }

  #customer-grid img{
    width: 110px;
    vertical-align: middle;
  }

  #woman {
    width: 50%;
    padding-bottom: 20px;
  }

/* CSS FOOTER */

footer {
  background-color: #32495b;
  color: #fff;
  font-weight: bold;
}

footer ul {
list-style-type: none;
}

footer li {
  padding-bottom: 20px;
}

footer a{
  color: rgba(255, 255, 255, 0.6);
}

footer a:hover{
  color: #7FA9DE;
}

#support {
  display: inline-block;
  margin-left: 0;
  background-color: #dadee0;
  color: #32495b;
}

#support:hover{
  background-color: #7FA9DE;
}

#columns-footer {
  padding-top: 30px;
}

#languages-footer {
  text-align: center;
  border-bottom: 1px solid #dadee0;
}

#languages-footer li, #credits-footer li, #social-list li {
  display: inline-block;
  padding-right: 30px;
  font-size: 120%;
  padding-top: 20px;
}

#credits-footer img {
  padding-top: 20px;
}

#credits-footer {
  padding-bottom: 50px;
}
